{% extends "base.html" %}
{% load staticfiles %}
{% load add_css %}

{% block page_title %}DAF - API Control{% endblock %}

{% block content %}
<div class="row">
    {% if char_apies or corp_apies %}
    <div class="col-md-8">
        <h2 class="page-header">Manage APIs</h2>
        <br>
    {% if char_apies %}
        <h4>Characters</h4>
        {% include "apies/apies_table.html" with apies=char_apies %}
    {% endif %}
    {% if corp_apies %}
        <h4>Corporations</h4>
        {% include "apies/apies_table.html" with apies=corp_apies %}
    {% endif %}
    </div>
    {% endif %}

    {% if not corp_apies and not char_apies %}
    <div class="col-md-4">
        <h2 class="page-header">Add API</h2>
    {% else %}
    <div class="col-md-4 v-offset-top-6">
    {% endif %}
        <p>
            <strong>Information</strong><br>
            Updating the API only updates the access and expiration date.
            So modifications from Character to Account or visa versa will still cause problems.<br>
            This will be solved soon.<br>
            <br>
            For better functionality and faster responses, parts of the API data will be saved to the database. Dont worry, I don't try to hoard data and you can remove it all yourself when you delete your API. If you want to see exactly what I save and how it is used. Please take a look at my <a href="https://github.com/Sult/daf" target="_blank">source code</a><br>
            For more questions feel free to contact Ghitzarai ingame.

        </p>
        <a href="#" class="btn btn-primary btn-md" role="button" data-toggle="modal" data-target="#ApiModal">Add API</a>
    </div>
</div>


{# Create add api modal #}
{% include "apies/api_modal.html" %}
{% endblock %}

{# needed for errorhandeling form in modal #}
{% block js%}
<script type="text/javascript" src="{% static 'js/confirm_delete.js' %}"></script>
{% if api_form.errors %}
<script type="text/javascript">
    $(function () {
        $('#ApiModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}
